In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ISLR_auto_raw.csv").set_index("name").assign(origin=lambda df: df["origin"].replace({
    1: "american",
    2: "european",
    3: "japanese"
}))

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,american
buick skylark 320,15.0,8,350.0,165,3693,11.5,70,american
plymouth satellite,18.0,8,318.0,150,3436,11.0,70,american
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,american
ford torino,17.0,8,302.0,140,3449,10.5,70,american
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86,2790,15.6,82,american
vw pickup,44.0,4,97.0,52,2130,24.6,82,european
dodge rampage,32.0,4,135.0,84,2295,11.6,82,american
ford ranger,28.0,4,120.0,79,2625,18.6,82,american
chevy s-10,31.0,4,119.0,82,2720,19.4,82,american

In [4]:
df.to_csv("ISLR_auto_clean.csv")